<h1> Blogs </h1>
<div>
  {{outlet}}
</div>
{{#link-to 'blogs.new'}} New Blog {{/link-to}}
|
{{#link-to 'blogs'}} Cancel {{/link-to}}
<ul>
  {{#each blogs as |blog|}}
  <li>
  <p>
    {{blog.title}}
    |
    {{blog.category.name}}
    | {{#link-to 'blogs.edit' blog}} Edit {{/link-to}}
  </p>
  <p>
    {{blog.body}}
  </p>
  </li>
  {{/each}}
</ul>

{{#link-to 'index'}}
  Back to index
{{/link-to}}
